<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6A039C61C8D65CB008E4EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6A039DA1C8D65CB008E4EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6A039E51C8D65CB008E4EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
